.container{
    padding-top:20px;
    padding-bottom:20px;
    }

.register-data{
    width:100%;
    color:yellow !important;
    }

input{
    width:100%;
    }

.fas{
    color:yellow;
    margin-top:10px;
    }


.avatar{
    width:125px;
    height:125px;
    text-align:center;
    }

.center {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    }

.avatar1{
    text-align:center;
    }

.signup-btn{
    margin-left:120px;
    }

.register-heading{

    color:white;
    text-align:center;
    margin-bottom:10px;
    }

.login-title{
    color:white;
    }


.login-link{
    color:white;
    background-color:green;
    }

@media only screen and (min-width: 768px) {

    .container{
        width:400px;
        padding-top:0px;
        padding-bottom:0px;
    }

}